<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegionalRegressionTestSuite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.crm.comcast.CampaignsTest.Test.CreatingCampaignTest">
      <methods>
      <include name="createCampainWithProductTest"/>
      </methods>
      </class>
      <class name="com.crm.comcast.OrgTest.Test.CreatingOrganizationTest"/>
      <class name="com.crm.comcast.ContactTest.test.CreatingContactTest">
      <methods>
      <include name="crateContactAndDeleteSameContactTest"/>
      </methods>
      </class>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- RegionalRegressionTestSuite -->
